{% extends 'studentDash.html' %}

{% block title %}School Announcements {% endblock %}

{% block content %}
<div class="container p-4 main-content">
  <h2>News</h2>
  <div class="row mb-2">
    {% for post in posts %}
    <div class="col-md-4" style="height: 300px;">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 250px;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{post.category}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-body-secondary">{{post.published}}</div>
          <p class="card-text mb-auto">{{post.body|safe|truncatewords:20}}</p>
          <a href="{{ post.news_get_absolute_url }}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}