{% extends 'teacherDash.html' %}

{% block title %}Exercises {% endblock %}

{% block content %}
  <div class="container p-4 main-content">
    <h3>Manage Exercises</h3>
    <a href="{% url 'exercises:Add_New_Exercise' %}" class="btn btn-primary">Add Exercise</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Exercise Name</th>
          <th scope="col"></th>
          <th scope="col">Related Lesson</th>
          <th scope="col">Uploaded Files</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for exercise in exercises %}
            <td>{{forloop.counter}}</td>
            <td>{{exercise.name }}</td>
            <td></td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}