{% extends 'base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="p-4 col-md-8 col-12">
    <h2>{{post.title}}</h2>
    <p class="text-muted">{{post.category}} - {{post.published}}</p>
    <p>{{post.body|safe}}</p>
  </div>
  <div class="p-4 col" id="recentNews">
    <h3>Recent News</h3>
    <div class="row mb-1">
      {% for recent_post in recent_posts %}
      <div class="col-md-10 col-6" style="height: 300px;">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 250px;">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">{{recent_post.category}}</strong>
            <h3 class="mb-0">{{recent_post.title}}</h3>
            <div class="mb-1 text-body-secondary">{{recent_post.published}}</div>
            <p class="card-text mb-auto">{{recent_post.body|safe|truncatewords:20}}</p>
          <a href="{% url 'core:Post_Details' recent_post.published.year recent_post.published.month recent_post.published.day recent_post.slug %}" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}