{% extends 'managerDash.html' %}
{% load static %}

{% block title %}{{user.first_name}} {{user.last_name}} {% endblock %}

{% block content %}
<div class="container p-4 main-content">
  <button onclick="goBackAndRefresh();" class="btn btn-secondary float-end">Go back</button>
  <div class="col-lg-8">
    <h4>Personal Info</h4>
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{user.email}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Username</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{user.username}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Phone</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{user.phone_number}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{user.address}}</p>
          </div>
        </div>
      </div>
    </div>
</div>
{% if user.role == 'Student' %}
<div class="col-lg-8">
  <h4>Student Info</h4>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Student ID</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{user.enrolledstudent.student_id}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Major</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{user.enrolledstudent.major}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% elif user.role == 'Teacher' %}
<div class="col-lg-8">
  <h4>Teacher Info</h4>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Teacher ID</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{user.teacher.teacher_id}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Major</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{user.teacher.occupation}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<a href="{% url 'accounts:Edit_User' user.id %}" class="btn btn-primary">Edit User</a>
{% endblock %}